/** === Mobile === */
/* Media queries */
@media (max-width: 375px) {
  .screen__landing, .screen__img, .screen__text {
   display: none;
  }
  .app {
    width: 100%;
    height: 100vh;
  }
  .wrapper__logo {
    position: var(--absolute);
    left: 22.5%;
    top: 20%;
  }
  .logo__figure {
    width: 20rem;
    height: 15rem;
  }
  .mobile__landing {
    width: 100%;
    height: 100vh;
    /*  background-image: url('../img/mobile/travel_9.jpg'); */
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/mobile/travel_9.jpg') center/cover no-repeat;
    object-fit: var(--cover);
    background-position: var(--center);
    background-repeat: var(--no-repeat);
    background-size: var(--cover);
    position: var(--relative);
  }
  .landing__wrapper {
    width: 100%;
    height: 100vh;
  }
  .landing__wrapper--text {
    position: var(--absolute);
    display: var(--flex);
    flex-direction: var(--column);
    left: 5%;
    bottom: 20%;
    width: 90%;
    padding: 1rem;
    text-align: center;
  }
  .text__title {
    font-size: 2rem;
    font-weight: var(--font-900);
    margin-bottom: 2rem;
  }
  strong {
    font-size: var(--title);
    font-weight: var(--font-regular); 
    color: var(--clr-principal);
  }
  .text__destiny {
    font-size: var(--text-small);
    font-weight: var(--font-normal);
  }
  .wrapper__btn {
    position: var(--absolute);
    bottom: 3rem;
    left: 5%;
    background: var(--clr-principal);
    color: var(--clr-white-one);
    width: 90%;
    padding: 1.5rem;
    margin: var(--margin-auto);
    border: var(--none);
    outline: var(--none);
    border-radius: 0.8rem;
    text-align: center;
    font-weight: var(--font-700);
    font-size: var(--text-big);
  }
}
/* Para dispositivos con un ancho máximo de 375px */
@media (min-width: 376px) and (max-width: 460px) {
  .screen__landing, .screen__img, .screen__text {
    display: none;
  }
  .app {
    width: 100%;
    height: 100vh;
  }
  .wrapper__logo {
    position: var(--absolute);
    left: 20%;
    top: 20%;
  }
  .logo__figure {
    width: 20rem;
    height: 15rem;
  }
  .mobile__landing {
    width: 100%;
    height: 100vh;
    /*  background-image: url('../img/mobile/travel_9.jpg'); */
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/mobile/travel_9.jpg') center/cover no-repeat;
    object-fit: var(--cover);
    background-position: var(--center);
    background-repeat: var(--no-repeat);
    background-size: var(--cover);
    position: var(--relative);
  }
  .landing__wrapper {
    width: 100%;
    height: 100vh;
  }
  .landing__wrapper--text {
    position: var(--absolute);
    display: var(--flex);
    flex-direction: var(--column);
    left: 5%;
    bottom: 20%;
    width: 90%;
    padding: 1rem;
    text-align: center;
  }
  .text__title {
    font-size: 2rem;
    font-weight: var(--font-900);
    margin-bottom: 2rem;
  }
  strong {
    font-size: var(--title);
    font-weight: var(--font-regular); 
    color: var(--clr-principal);
  }
  .text__destiny {
    font-size: var(--text-small);
    font-weight: var(--font-normal);
  }
  .wrapper__btn {
    position: var(--absolute);
    bottom: 3rem;
    left: 5%;
    background: var(--clr-principal);
    color: var(--clr-white-one);
    width: 90%;
    padding: 2rem;
    margin: var(--margin-auto);
    border: var(--none);
    outline: var(--none);
    border-radius: 0.8rem;
    text-align: center;
    font-weight: var(--font-700);
    font-size: var(--text-big);
  }
}

/* Para dispositivos con un ancho máximo de 640px */
@media (min-width: 461px) and (max-width: 640px)  {
  .screen__landing, .screen__img, .screen__text {
    display: none;
  }
  .app {
    width: 100%;
    height: 100vh;
  }
  .wrapper__logo {
    position: var(--absolute);
    left: 27.5%;
    top: 5%;
  }
  .logo__figure {
    width: 20rem;
    height: 20rem;
  }
  .mobile__landing {
    width: 100%;
    height: 100vh;
    /*  background-image: url('../img/mobile/travel_9.jpg'); */
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/mobile/travel_9.jpg') center/cover no-repeat;
    object-fit: var(--cover);
    background-position: var(--center);
    background-repeat: var(--no-repeat);
    background-size: var(--cover);
    position: var(--relative);
  }
  .landing__wrapper {
    width: 100%;
    height: 100vh;
  }

  .landing__wrapper--text {
    position: var(--absolute);
    display: var(--flex);
    flex-direction: var(--column);
    left: 5%;
    bottom: 25%;
    width: 90%;
    padding: 1rem;
    text-align: center;
  }
  .text__title {
    font-size: 2.4rem;
    font-weight: var(--font-900);
    margin-bottom: 2rem;
  }
  strong {
    font-size: var(--title-media);
    font-weight: var(--font-regular); 
    color: var(--clr-principal);
  }
  .text__destiny {
    font-size: 1.6rem;
    font-weight: var(--font-normal);
    filter: brightness(0.7);
  }
  .wrapper__btn {
    position: var(--absolute);
    bottom: 3rem;
    left: 5%;
    background: var(--clr-principal);
    color: var(--clr-white-one);
    width: 90%;
    padding: 2.5rem;
    margin: var(--margin-auto);
    border: var(--none);
    outline: var(--none);
    border-radius: 2rem;
    text-align: center;
    font-weight: var(--font-700);
    font-size: var(--text-big);
  }
}

/* Otras media queries... */

/** === Tablet === */
@media (min-width: 768px) {
  .screen__landing, .screen__img, .screen__text {
    width: 100%;
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .app {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    width: 100dvw;
    height: 100dvh;
    background: var(--clr-white-one);
  }
  .mobile__landing {
    grid-column: 1 / 2;
    width: 100%;
  }
  .landing__wrapper {
    height: 100vh;
    width: 100%;
    display: var(--flex);
    flex-direction: var(--column);
  }
  .wrapper__logo {
    position: absolute;
    background: var(--clr-secondary);
    left: 15px;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
  }
  .logo__figure {
    width: 4.5rem;
    height: 4.5rem;

  }
  .landing__wrapper--text {
    padding: 1rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
  }

  .text__title {
    color: #111;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 900;
  }
  strong {
    color: var(--clr-principal);
  } 
  .text__destiny {
    color: #111;
    font-weight: 700;
    font-size: 1.2rem;
    filter: brightness(0.5);
    text-align: center;
  }
  .wrapper__btn {
    position: absolute;
    background: var(--clr-principal);
    color: var(--clr-white);
    width: 10rem;
    height: 3rem;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 700;
    top: 260px;
    right: 10px;
  }
  .screen__text {
    position: absolute;
    width: 25rem;
    padding: 1rem;
    top: 240px;
    left: 1.5rem;
  }
  .screen__text--paragraph {
    font-size: 1rem;
    font-weight: 500;
    color: #111;
    padding: 0.5rem;
  }
  .screen__img {
    width: 90%;
    margin: 1rem auto;
    margin-top: 10rem;
  }
  .screen__img--figure {
    width: 100%;
    height: 25rem;
    z-index: 2;
  }
  .screen__img--figure:nth-child(2) {
    position: absolute;
    top: 10.5px;
    width: 95%;
    left: 8px;
    z-index: 1;
  }
  .screen__img--figure:nth-child(3) {
    position: absolute;
    top: 22.5px;
    width: 90%;
    left: 15px;
    z-index: 0;
    box-shadow: 4px 4px 15px #111;
  }
  .screen__img--figure .figure__img {
    border-radius: 0.8rem;
  }

  .screen__landing {
    grid-column: 2 / 3;
    width: 100%;
    height: 100vh;
    padding: 1rem;
    position: relative;
  }
  .screen__landing--border {
    width: inherit;
    height: 95vh;
   /*  padding: 2rem; */
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/web/trip_web_6.jpg') center/cover no-repeat;
    object-fit: var(--cover);
    background-position: var(--center);
    background-repeat: var(--no-repeat);
    background-size: var(--cover);
    position: var(--relative);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
  .trip__card {
    position: absolute;
    width: 22.5rem;
    display: var(--flex);
    align-items: center;
    gap: 2rem;
    background: #f2f2f2;
    left: 2rem;
    top: 5rem;
    border-radius: 0.8rem;
  }
  .trip__card--text {
    display: flex;
    flex-direction: column;
    width: 10rem;
    margin-left: 0.5rem;
  }
  .card__text {
    color: #111;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  .card__icon {
    width: 2.5rem;
    height: 2.5rem;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .trip__card--images {
    /* padding: 1rem; */
    width: 100%;
  }
  .card__figure {
   width: 10rem;
   /*  height: 5rem; */
   padding: 0.5rem;
  }
  .card__img {
    border-radius: 0.5rem;
  }
  .trip__user {
    position: absolute;
    display: var(--flex);
    align-items: center;
    gap: 0.5rem;
    right: 15px;
    /* top: 5px; */
    bottom: 15px;    
  }
  .trip__user--contact {
    padding: 1rem;
    background-color: #f2f2f2;
    border-radius: 0.8rem;
  }
  .contact__text {
    font-size: 1.4rem;
    font-weight: 700;
    color: #111;
  }
  .trip__user--icon {
    width: 2.5rem;
    height: 2.5rem;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
  }
  .trip__information {
    position: absolute;
  }
  .trip__information--text {
   font-size: 1.4rem;
   color: #f2f2f2;
   font-weight: 700;
  }
  .trip__information--text::before {
   content: "";
   border: 2px solid #f2f2f2;
   border: 0.8rem;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .app {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    width: 100dvw;
    height: 100dvh;
    background: var(--clr-white-one);
  }
  .mobile__landing {
    grid-column: 1 / 2;
    width: 100%;
  }
  .landing__wrapper {
    height: 100vh;
    width: 100%;
    display: var(--flex);
    flex-direction: var(--column);
  }
  .wrapper__logo {
    position: absolute;
    background: var(--clr-secondary);
    left: 15px;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
  }
  .logo__figure {
    width: 4.5rem;
    height: 4.5rem;

  }
  .landing__wrapper--text {
    padding: 1rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
  }

  .text__title {
    color: #111;
    font-size: 3.5rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 900;
  }
  strong {
    color: var(--clr-principal);
  } 
  .text__destiny {
    color: #111;
    font-weight: 700;
    font-size: 1.2rem;
    filter: brightness(0.5);
    text-align: center;
  }
  .wrapper__btn {
    position: absolute;
    background: var(--clr-principal);
    color: var(--clr-white);
    width: 10rem;
    height: 4rem;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 700;
    top: 295px;
    right: 10px;
  }
  .screen__text {
    position: absolute;
    width: 35rem;
    padding: 1rem;
    top: 280px;
    left: 1.5rem;
  }
  .screen__text--paragraph {
    font-size: 1.2rem;
    font-weight: 500;
    color: #111;
    padding: 0.5rem;
  }
  .screen__img {
    width: 90%;
    margin: 1rem auto;
    margin-top: 12rem;
  }
  .screen__img--figure {
    width: 100%;
    height: 30rem;
    z-index: 2;
  }
  .screen__img--figure:nth-child(2) {
    position: absolute;
    top: 10.5px;
    width: 95%;
    left: 8px;
    z-index: 1;
  }
  .screen__img--figure:nth-child(3) {
    position: absolute;
    top: 22.5px;
    width: 90%;
    left: 15px;
    z-index: 0;
    box-shadow: 4px 4px 15px #111;
  }
  .screen__img--figure .figure__img {
    border-radius: 0.8rem;
  }

  .screen__landing {
    grid-column: 2 / 3;
    width: 100%;
    height: 100vh;
    padding: 1rem;
    position: relative;
  }
  .screen__landing--border {
    width: inherit;
    height: 95vh;
   /*  padding: 2rem; */
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/web/trip_web_6.jpg') center/cover no-repeat;
    object-fit: var(--cover);
    background-position: var(--center);
    background-repeat: var(--no-repeat);
    background-size: var(--cover);
    position: var(--relative);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
  .trip__card {
    position: absolute;
    width: 22.5rem;
    display: var(--flex);
    align-items: center;
    gap: 2rem;
    background: #f2f2f2;
    left: 2rem;
    top: 5rem;
    border-radius: 0.8rem;
  }
  .trip__card--text {
    display: flex;
    flex-direction: column;
    width: 10rem;
    margin-left: 0.5rem;
  }
  .card__text {
    color: #111;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  .card__icon {
    width: 2.5rem;
    height: 2.5rem;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .trip__card--images {
    /* padding: 1rem; */
    width: 100%;
  }
  .card__figure {
   width: 10rem;
   /*  height: 5rem; */
   padding: 0.5rem;
  }
  .card__img {
    border-radius: 0.5rem;
  }
  .trip__user {
    position: absolute;
    display: var(--flex);
    align-items: center;
    gap: 0.5rem;
    right: 15px;
    /* top: 5px; */
    bottom: 15px;    
  }
  .trip__user--contact {
    padding: 1rem;
    background-color: #f2f2f2;
    border-radius: 0.8rem;
  }
  .contact__text {
    font-size: 1.4rem;
    font-weight: 700;
    color: #111;
  }
  .trip__user--icon {
    width: 2.5rem;
    height: 2.5rem;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
  }
  .trip__information {
    position: absolute;
  }
  .trip__information--text {
   font-size: 1.4rem;
   color: #f2f2f2;
   font-weight: 700;
  }
  .trip__information--text::before {
   content: "";
   border: 2px solid #f2f2f2;
   border: 0.8rem;
  }
}
  

/** === Screen === */
@media (min-width: 1280px) {}

@media (min-width: 1536px) {}

/** === Landscape === */
@media screen and (min-width: 600px), screen and (orientation: landscape) {}


/** ==== Scheme Color ==== */

@media (prefers-color-scheme: light) {
  :root {
    color: var(--clr-black);
    background-color: var(--clr-white);
  }
  a:hover {
    color: var(--clr-white-one);
  }
  button {
    background-color: var(--clr-principal);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--clr-white);
    background-color: var(--clr-principal);
  }
  a:hover {
    color: var(--clr-white-one);
  }
  button {
    background-color: var(--clr-principal);
  }
}