/* === Mobile === */
@media (width <= 375px) {}

@media (width <= 460px) {
  .icon__figure {
    width: 8rem;
    height: 8rem;
  }
  .wrapper__content--text {
   font-size: var(--title);
   font-weight: var(--font-700);
  }
}

@media (width <= 640px) {
}

/* === Tablet === */
@media (width >= 768px) {}

@media (width > 1024px) {}

/* === Screen === */
@media (width > 1280px) {}

@media (width > 1536px) {}