@import url('../css/responsive/display_responsive.css'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* @import url("/src/css/media_Queries.css"); */

:root{
 --clr-white: #fff;
 --clr-white-one: #f2f2f2f2;
 --clr-saturation: hsl(217, 0%, 61%);
 --clr-black: #111;
 --clr-black-one: #333;
 --clr-black-light: hsl(217, 89%, 0%);
 --clr-principal: #27B9F2;
 --clr-secondary: #0D65D9;
 --clr-third:#044BD9;
 --clr-card-1: #DB70FF; 
 --clr-card-2: #6C75F5; 
 --clr-card-3: #63DB86;
 --clr-card-4: #63DBD8;
 --clr-background-back: #022859;
 --clr-background-back-two: #03258C;
 --color-primary: #ab79d6;
 --color-on-primary: #351d4a;
 --color-secondary_plus: #d367c1;
 --color-background: #27272c;
 --color-on-background: #c5c5ce;
 --color-background-alt: #1e1c22;
 --color-background-alt-alpha: #1e1c22bf;
 --color-inverse: #fff;
 --color-gray: #8e8e8e;
 --color-yellow: #dedf40;
 --color-green: #62cb5c;
 --color-blue: #00bbcb;
 --color-on-blue: #004a09;
 --clr-gradient:  var(--color-secondary) 10%,var(--color-yellow) 25%,var(--color-green) 50%,var(--color-blue) 75%,var(--color-primary) 90%;

 /* === Fonts* Weight === */
 --font-family: "Montserrat", sans-serif;
 --font-normal: normal;
 --font-italic: italic;
 --font-bold: bold;
 --font-regular: 400;
 --font-700: 700;
 --font-900: 900;

 /* === Fonts & Text === */
 --title-full: 4rem;
 --title-media: 3rem;
 --title-principal: 2.4rem;
 --title: 1.8rem;
 --text-big: 1.6rem;
 --text-normal: 1.5rem;
 --text-small: 1.2rem;
 --text-verySmall: 0.8rem;

 /* === Clamp === */
 --clamp:20px, 50%, 40px;

 /* === Display ==== */
 --flex: flex;
 --column: column;
 --grid: grid;
 --hidden:hidden;
 --visible: visible; 
 --none: none;

 --grid-minmax: repeat(auto-fix, minmax(15rem, 1fr));
 --grid-thee: repeat(3, 1fr);
 --grid-frame: 15rem 1fr 1fr;
 --grid-frames: 15rem 1fr 35rem;
 --grid-row: 1fr 1fr 1fr;
 --grid-row-header: 150px 1fr 1fr 1fr;
 --gap: 2rem;

 /* === Padding & Margin === */
 --margin-auto: 0 auto;
 --margin: 2rem, auto;
 --margin-1: 1rem, auto;
 --padding: 1rem;
 --padding-one: 1.5rem 2rem; 
 --padding-two: 1.5rem 3rem; 

 /* === Shadows === */
 --shadow: 5px 5px 40px #48529944;
 --shadow-one: 5px 5px 10px #48529944;
 --shadow-rgb: 5px 5px 5px rgb(0,0,0,0.5) inset;

 /* === Border & Radius === */
 --border: 0.8rem;
 --border-50:50%;

 /* ==== Display ==== */
 --none: none; 
 --display-flex: flex;
 --block: block;

 /* === Width & Height === */
 --width: 100%;
 --height: 100%;
 --min-height: 100vh;
 --svh:100svh; 
 --svw:100svw; 
 --dvh:100dvh;
 --dvw:100dvw;
 --with-scroll: 250vw;

 /* === Columns === */
 --columns: 40ch;
 --min-columns-size: 200px;

 /* === Positions === */
 --relative: relative; 
 --absolute: absolute; 
 --fixed: fixed; 
 --sticky: sticky;
 --static: static;
 --top: top; 
 --bottom: bottom;
 --left: left;
 --right:right;
 --inset: inset;

 /* === Images - Aspect Ratio - ===*/
 --ratio-hd: 16/9; 
 --ratio-square: 1;
 --cover: cover;
 --no-repeat: no-repeat;
 --center: center;

 /* === Images - Max Width - ===*/
 --max-width_one: 1.5rem; 
 --max-width_two: 2.5rem; 
 --max-width_three: 25rem;  
 /* === Text Underline === */
 --text-underline-offset: 0.25rem;
 /* === desplazamiento de contorno === */
 --outline: 2px dashed blue; 
 --outline-offset: 0.25rem;
 --outline-offset_one: -0.25rem;
 /* === Margin Line === */
 --margin-inline:  auto;
 /* === Esquema de Colores === */
 --color-scheme: dark light;
 --background-color-scheme: dark;
 /* === Acentuar el color: :checked === */
 --accent-color: mediumvioletred;
 /* === Ancho: contenido ajustado:"Envolver en su contenido" === */
 --fit-content_width: fit-content; 
 /* === Text-wrap (ajuste de texto) === */
 --text-wrap: balance;
 /* === aparición o desaparición de barras de desplazamiento ===*/
 --scrollbar-gutter: stable both-edges; 
 --scrolling-x-touch: -webkit-overflow-scrolling: touch;
 /* === overscroll-behavior (desplazamiento excesivo) === */
 --overscroll-behavior: contain;
 /* === Scroll === */
 --scroll-margin-top: 2rem;
 --scroll-x: scroll; 
 --auto:auto;
 --scrollbar-width:none;

 --nowrap: nowrap;
 --wrap: wrap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  min-width: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 100dvw;
  min-height: 100dvh;
  background: var(--clr-white-one);
  font-family: var(--font-family);
}

main {
  width: 100dvw;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

p, span  {
 letter-spacing: 0.1rem;
}

a {
  text-decoration: none;
}

a:has(> img) {
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

ul {
  list-style: none;
}

hr {
  width: 100%;
}

button {
  outline: none;
  border: none;
}
button:active, wrapper__btn:active {
  transform: scale(0.9);
}

/* ==== Active & Display ==== */
.display {
  display:block;
}

.none {
  display:none;
}

.active {
  background: var(--clr-secondary);
  color: #fff;
  padding: 1rem;
  border: 2px solid var(--clr-principal);
  border-radius: 50%;
}

/* ======== ==== == Display == ==== ======== */
.navigation__mobile {
  width: var(--width);
  position: var(--relative);
}
.nav__bar {
  width: var(--width);
  position: var(--absolute);
}
.home__header {
  width: var(--width);
  padding: var(--padding);
}
.home__icons--time, .mobile__icons {
  color: #333;
}
.home__icons {
  width: var(--width);
  margin: 1rem auto;
}
.home__icons--mobile {
  width: 6rem;
}
.navBar {
  width: var(--width);
  padding: var(--padding);
  margin: 1rem auto;
}
.navBar__logo--img {
  border-radius: 0.8rem;
}
.hero__btn {
  border-radius: 0.8rem;
  border: none;
  outline: none;
  background: var(--clr-principal);
  color: var(--clr-white-one);
}
.hero__btn:hover {
  background: var(--clr-white-one);
  color: var(--clr-principal);
  cursor: pointer;
}
.hero__btn:active, .btn__display--back:active {
  transform: scale(0.9);
}

/* ==== Display ==== */
.home__display {
  width: 100%;
  padding: 1rem;
}

/* === Navigation Bar Menu === */
.nav__bar {
  width: 100%;
  position: fixed;
 /*  border: 2px solid red; */
  box-shadow: 2px 2px 15px #333;
  z-index: 1;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  background: #f2f2f2;
}
.nav__header, .nav__header--menu, .menu__list {
  width: 100%;
  height: 100%;
}

/* === Hero Search ===*/
.hero__section {
  width: 100%;
  padding: 1rem;
  margin: 1rem auto;
}
.hero__search {
 width: 100%;
 display: flex;
 align-items: center;
}
.hero__label {
  margin: 0 1rem;
}
.hero__formulary {
  display: flex;
  align-items: center;
}
.hero__input {
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  width: 100%;
}
.hero__label {
  width: 100%;
}
/* === New Display Data === */
.travel__display {
  width: var(--width);
  position: relative;
 /*  display: var(--grid); */
}
.travel__wrapper {
  display: grid;
  width: var(--width);
  height: 100vh;
}
.display__data {
  width: 100%;
  padding: 1rem;
  /* position: absolute; */
  display: flex;
}
.destiny__data, .travel__destiny, .travel__transport {
  width: var(--width);
}
.display__data {
  background: var(--clr-white);
}
.btn__display--back {
  position: absolute;
  border-radius: 50%;
  border: none;
  outline: none;
  background: transparent;
  color: var(--clr-white-one);
}
.btn__pay {
  background: var(--clr-principal);
  color: var(--clr-white);
  position: absolute;
  display: flex;
  border-radius: 1rem;
  border: none;
  outline: none;
}
/* ==== Main ==== */
.main {
  width: 100%;
}

/* === ==== Display Mobile & Scroll ==== === */
.homeMain__display {
  width: 100%;
  overflow: scroll;
}
.homeMain__display::-webkit-scrollbar {
  display: none;
}
.display__scroll {
 overflow-x: scroll;
 -webkit-overflow-scrolling: touch;
 scrollbar-width: none;
}
.display__scroll::-webkit-scrollbar {
  display: none;
}
.home__display {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
}
.home__displayCard {
  height: 100%;
}
.home__card {
  padding: 1rem;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  box-shadow: 2px 2px 5px #333;
  overflow: hidden;
}
.home__card--figure {
  width: 100%;
 }
 .home__card--text {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
 }
 .title__destiny {
  font-weight: 900;
 }
 .home__card--pay {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 }
 .title__transport {
  width: 100%;
 }
 .home__card--img {
  aspect-ratio: 16/9;
  border-radius: 1rem;
 }
 .tripBtn__pay {
  background-color: var(--clr-principal);
  color: var(--clr-white-one);
  border: none;
  outline: none;
  border-radius: 0.8rem;
 }
 .homeDisplay__recommendation {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .display__scrollPlus {
  width: 100vw;
 }
 .homeMain__displayPlus {
  display: grid;
  width: 100vw;
 }